<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDK_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDK_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDK_Test.Properties.Settings>
            <setting name="SDKHostName" serializeAs="String">
                <value>dev.dev.granicus.com</value>
            </setting>
            <setting name="MMUser" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="MMPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </SDK_Test.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SDK_Test.Properties.Settings>
            <setting name="SDK_Test_SIRE_AlphaCorpConnectorService" serializeAs="String">
                <value>http://dev.dev.granicus.com/Connectors/AlphaCorp.php</value>
            </setting>
        </SDK_Test.Properties.Settings>
    </applicationSettings>
</configuration>
